*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:#F5F7FA;
    color:#2D3748;
    text-align:center;
}

.container{
    max-width:600px;
    padding:40px;
}

.logo{
    width:100px;
    height:100px;
    margin:0 auto 25px;

    border-radius:50%;
    background:#0056B3;

    color:#FFFFFF;
    font-size:2rem;
    font-weight:bold;

    display:flex;
    justify-content:center;
    align-items:center;

    box-shadow:0 8px 20px rgba(0,86,179,0.2);
}

h1{
    font-size:3rem;
    margin-bottom:15px;
    color:#003B80;
}

p{
    font-size:1.1rem;
    color:#2D3748;
    margin-bottom:30px;
    line-height:1.6;
}

#clock{
    font-size:1.2rem;
    font-weight:bold;
    color:#FF7A00;
    margin-bottom:25px;
}

.status{
    display:inline-block;
    background:#003B80;
    color:#FFFFFF;
    padding:12px 20px;
    border-radius:30px;
    border:2px solid #1DA1F2;
    font-weight:600;
}